<style>
	#sidebar {
		height: 100vh;
	}
</style>
<!doctype html>
<html lang="en">
<head>
	<title>Sidebar 09</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div class="wrapper d-flex align-items-stretch">
		<nav style="min-height:100vh" id="sidebar">
			<div class="custom-menu">
				<button type="button" id="sidebarCollapse" class="btn btn-primary">
				</button>
			</div>
			<div class="img bg-wrap text-center py-4">
				<div class="user-logo">
					<img src="https://cdn.freebiesupply.com/images/large/2x/premier-league-logo-png-transparent.png" style="max-width: 100%; max-height: 100%; object-fit: contain;" />
				</div>
			</div>
			<ul class="list-unstyled components mb-5">
				<li style="text-decoration:none">
					<a style="text-decoration:none" href="~/HomePage"><small class="d-flex align-items-center justify-content-center"></small>Home</a>
				</li>
				<li style="text-decoration:none">
					<a style="text-decoration:none" href="~/Club"><small class="d-flex align-items-center justify-content-center"></small>Club</a>
				</li>
				<li style="text-decoration:none">
					<a style="text-decoration:none" href="~/Ranking"><small class="d-flex align-items-center justify-content-center"></small>Ranking</a>
				</li>
				<li style="text-decoration:none">
					<a style="text-decoration:none" href="~/Match"><small class="d-flex align-items-center justify-content-center"></small>Schedule</a>
				</li>
@*				@if (TempData["UserRole"]?.ToString() == "Admin")
				{
					<li style="text-decoration:none">
						<a style="text-decoration:none" href="~/MatchDetail/Add"><small class="d-flex align-items-center justify-content-center"></small>Manager Match Details</a>
					</li>
				}*@
				<li style="text-decoration:none">
					<a style="text-decoration:none" href="~/MatchDetail/Add"><small class="d-flex align-items-center justify-content-center"></small>Manager Match Details</a>
				</li>
			</ul>
		</nav>
		<div class="container">
			<main role="main">
				@RenderBody()
			</main>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>